@{
    Layout = "_Layout";
    ViewData["Title"] = "Kolejka zamówień";
}

<!DOCTYPE html>

<style>
    table {
        padding-top: 50px;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }

    thead {
        color: gray;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px black solid;
    }

    tr, td, th {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    th {
        font-weight: normal;
    }

    caption {
        margin-top: 30px;
        margin-bottom: 50px;
        border-top: thin black solid;
        border-bottom: thin black solid;
        font-weight: bold;
        padding: 5px;
        font-size: 30px;
        color: dimgray;
        font-weight: normal;
    }

    tfoot {
        border-top: 1.5px black solid;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Zadanie 7</title>
</head>
<body>
    <div id="out">
    </div>
    <br>
    <br>
    <br>
</body>
</html>

<dialog id="dialog1">
    <p>Proszę podać dane:</p>
    <form id="form1" method="dialog">
        <div>
            <input type="text" name="count" placeholder="Ilość">
            <input type="submit" value="OK">
        </div>
    </form>
    <p id="messagedialog"></p>
</dialog>

<dialog id="dialog2">
    <p>Czy na pewno chcesz zrezygnować?</p>
    <form id="form2" method="dialog">
        <div>
            <input type="submit" value="Tak">
            <input type="reset" value="Nie">
        </div>
    </form>
</dialog>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/bootstrap/dist/js/selectize.js"></script>

    <script type="text/javascript">

        const out = document.getElementById("out");
        var userId = @Html.Raw(Json.Serialize(ViewData["userId"]));
        const form = document.getElementById("form1");
        const dlg = document.getElementById("dialog1");
        const form2 = document.getElementById("form2");
        const dlg2 = document.getElementById("dialog2");    

        // site.js
        $(document).ready(function () {
            $.ajax({
                url: '/api/Queue',
                type: 'GET',
                success: function (data) {
                    console.log('Dane pobrane:', data);
                    if (userId == 0) 
                        var queueContent = "<table><tr><th>Książka</th><th>Osoby w kolejce</th></tr>";
                    else
                        var queueContent = "<table><tr><th>Książka</th><th>Ilość</th></tr>";

                    for (var bookId in data) {
                        var booksArray = data[bookId];
                        if(userId == 0){
                            queueContent += `<tr><td rowspan="${booksArray.length}">${bookId}</td>`;
                            booksArray.forEach(book => {
                                queueContent += `<td>Użytkownik:${book.UserId}, ilość: ${book.Quantity} <button id="updateQueue" data-bookid="${bookId}" style="margin-left: 20px" class="customButton">Edytuj</button><button id="deleteFromQueue" data-bookid="${bookId}" style="margin-left: 20px;" class="customButton">Usuń</button></td></tr>`;
                            });
                        }
                        else{
                            var size = 0;
                            booksArray.forEach(book => {
                                if (book.UserId == userId)
                                    size++;
                            });
                            if(size!=0){
                                queueContent += `<tr><td rowspan="${size}">${bookId}</td>`;
                                booksArray.forEach(book => {
                                    if (book.UserId == userId) {
                                        queueContent += `<td>ilość: ${book.Quantity} <button id="updateQueue" data-bookid="${bookId}" style="margin-left: 20px" class="customButton">Edytuj</button><button id="deleteFromQueue" data-bookid="${bookId}" style="margin-left: 20px;" class="customButton">Usuń</button></td></tr>`;
                                    }
                                });
                            }
                        }
                    }

                    queueContent += "</table>";
                    out.innerHTML = queueContent;
                },
                error: function (error) {
                    console.error('Błąd pobierania danych:', error);
                }
            });

            $(document).on('click', '#updateQueue', function () {
                var bookId = $(this).data('bookid');
                console.log(bookId);
                form.reset();
                dlg.showModal();

                form.onsubmit = (event) => {
                    const mess = document.getElementById("messagedialog");
                    if (form.count.value === "" || form.count.value < 1 || form.count.value > 6 || form.count.value % 1 > 0) {
                        mess.innerHTML = "Ilość musi być liczbą całkowitą z przedziału < 1 , 6 >";
                        event.preventDefault();
                        dlg.showModal();
                    }
                    else {
                        var queueData = {
                            BookId: bookId,
                            UserId: userId,
                            Quantity: parseInt(form.count.value)
                        };

                        $.ajax({
                            url: '/api/Queue/' + queueData.BookId,
                            type: 'PATCH',
                            contentType: 'application/json',
                            data: JSON.stringify(queueData),
                            success: function (response) {
                                console.log('Odpowiedź po edytowaniu:', response);
                                location.reload();
                            },
                            error: function (error) {
                                console.error('Błąd przy edytowaniu:', error);
                            }
                        });
                    }
                }

                form.onreset = () => {
                    dlg.close();
                }
            });

            $(document).on('click', '#deleteFromQueue', function () {         
                var bookId = $(this).data('bookid');
                console.log(bookId);
                form2.reset();
                dlg2.showModal();

                form2.onsubmit = (event) => {
                    var queueData = {
                        BookId: bookId,
                        UserId: userId,
                        Quantity: 0
                    };

                    console.log('usuwanie');

                    $.ajax({
                        url: `/api/Queue/${queueData.BookId}`,
                        type: 'DELETE',
                        contentType: 'application/json',
                        data: JSON.stringify(queueData),
                        success: function (data) {
                            if (data.success) {
                                console.log(data.message);
                            } else {
                                console.error(data.message);
                            }
                        },
                        error: function (error) {
                            console.error(`Error: ${error.statusText}`);
                        }
                    });
                }

                form2.onreset = () => {
                    dlg2.close();
                }
            });
        });


</script>
}