:root {
    --the-primary: #e56956;
    --primary-content: #340e08;
    --primary-dark: #de422a;
    --primary-light: #ec9082;
    --secondary: #e5c856;
    --secondary-content: #342b08;
    --secondary-dark: #deba2a;
    --secondary-light: #ecd682;
    --background: #f4edec;
    --foreground: #fcfafa;
    --border: #e7d9d7;
    --copy: #301f1d;
    --copy-light: #80534d;
    --copy-lighter: #a97770;
    --success: #56e556;
    --warning: #e5e556;
    --error: #e55656;
    --success-content: #083408;
    --warning-content: #343408;
    --error-content: #340808;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background) !important;
  color: var(--copy) !important;
}

.okienko {
    padding: 10px;
    width: 20%;
    margin: 1%;
    display: inline-block;
    color: var(--primary-content);
    background-color: var(--foreground);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
}

.okienko:hover {
    background-color: var(--primary-light);
}

.okienko > a > img {
    border-radius: 8px;
    width: 100%;
}

.okienko a {
    color: var(--secondary);
    text-decoration: none;
}

.okienko a:hover {
    color: var(--secondary-dark);
}

.searchBookImage {
    width: 85px;
    height: 120px;
}

.bars {
    background-color: var(--the-primary);
}

.bars *{
    color: var(--copy) !important;
}

.bars a:hover {
    color: var(--copy-light) !important;
}

.table{
    color: var(--primary-content) !important;
}

.customButton {
    background-color: #e5c856; /*SECONDARY ALE KURWA JEBANA BOOTSTRAP TO ŒCIEK*/
    color: var(--secondary-content);
    padding: 4px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.customButton:hover {
    background-color: var(--secondary-dark);
}

.customButton:active {
    background-color: var(--secondary-light);
}

#out tr:nth-child(even) {
    background-color: var(--foreground);
    color: var(--secondary-content);    
}

#out tbody > tr:nth-child(odd) {
    background-color: var(--border);
    color: var(--secondary-content);
}

a.customButton{
    text-decoration: none;
}

a.customButton:hover{
    color: inherit;
}

.inputField {
    background-color: whitesmoke !important;
    color: #342b08 !important;
}